doctype html
html
  head
    link(rel="SHORTCUT ICON", href="/images/logo melisa.png", type="favicon/ico")
    title Melisa
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
