body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #FFF059;
  color: #2d3277;
  text-align: center;
  border-style: dashed;
    border-color: #2d3277;
    height: 400px;
}

.logoPrincipal {
    width: 127px;
    height: 87px;
    margin-bottom: 0;
    padding-bottom:0;

}


#container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding:0;
}

h3 {
    text-align: left;
    padding-left: 25%;
    font-weight: normal;
    vertical-align: middle;
}
#primary {
    float: left;
    width: 20%;
    height: 600px;
    background-color:gray;
}

#content {
    float: left;
    width: 40%;
    background-size: 100% 100%;
    height: 600px;
}

#secondary {
    float: left;
    width: 20%;
    height: 600px;
    background-color:gray;
}

#footer {
    clear: both;
    background: black;
}


input{
	padding:10px 10px;
	border:none;
	width: 50%;
	font-size:20px;
}
a {
  color: #00B7FF;
}
h1{
	font-size: 50px;
  font-family:'Open Sans';
    margin-top: 0;
    padding-top:0;
}
ul { list-style-type: none;
  font-size: 35px;
  color:#2d3277;
 }
 .img-icon {
    width: 64px;
    height:64px;
    display: inline;
    vertical-align: middle;
    padding-bottom: 10px;
}
b{
  color:#f1255a;
}
.vmiddle{
    padding-top:5px;
}
.col{
    height: 150px;
}
.col-one{
    width: 30%;
}
.col-two{
    width:70%;
}
#thumbnail {
    padding-right:20px;
    width: 32px;
    height: 32px;
    float: left;
    display: inline-block;
    padding-left: 22%;
    vertical-align: middle;
}